
<script src="js/modules/<%=dados.minusculo%>/<%=dados.minusculo%>.client.module.js"></script>
<script src="js/modules/<%=dados.minusculo%>/config/<%=dados.minusculo%>.client.config.js"></script>
<script src="js/modules/<%=dados.minusculo%>/config/<%=dados.minusculo%>.client.routes.js"></script>
<script src="js/modules/<%=dados.minusculo%>/controllers/<%=dados.minusculo%>.client.controller.js"></script>
<script src="js/modules/<%=dados.minusculo%>/services/<%=dados.minusculo%>.client.service.js"></script>