<h3>Editar <%= humanizedSingularName %></h3>
<section data-ng-controller="<%= classifiedPluralName %>Controller" data-ng-init="findOne()">
    <div class="col-md-12">
        <div class=" panel panel-default">
            <form name="<%= camelizedSingularName %>Form" class="panel-body " data-ng-submit="update()" novalidate>
                <div class="form-group">
                    <label class="control-label" for="nome">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="<%= camelizedSingularName %>.nome" id="nome" class="form-control" placeholder="Nome" required>
                    </div>
                </div>
                <hr class="hidden-print">
                <div class="clearfix">
                    <input type="submit" value="Salvar" class="btn btn-success pull-right" />
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </div>
        </form>
    </div>
    <br style="clear:both" />
</section>
